<div class="center jumbotron">
  <div class="text-center text-light">
    <h1>カクテル掲示板へようこそ</h1>
    <p>あなたのカクテルに評価をもらいましょう！</p>
  </div>
</div>




<div class="row justify-content-md-start">
  <div class="col mb-5 ">
    <h2>新着カクテル</h2>
  </div>
  <div class="row justify-content-md-end">
    <div class="col">
      <%= link_to 'もっと見る >>',recipes_path ,class:"btn "%>
    </div>
  </div>
<%= render 'recipes/recipe_list', recipes:@recipes %>
</div>